body {
  width:90%;
}

th {
  vertical-align:top;
  background-color: rgb(146, 203, 223);
}

td {
    padding:5px;
    vertical-align:center;
}

th {
  text-align:center;
}

ul {
   margin:0;
}

td:nth-child(3) img{
  width:200px;
}